<!-- note/templates/note/note_list.html -->
{% extends 'base.html' %}

{% block title %}Список заметок{% endblock %}

{% block content %}
    <h1 class="mb-4">Список заметок</h1>
    <a href="{% url 'note_create' %}" class="btn btn-primary mb-3">Создать новую заметку</a>

    <ul class="list-group">
      {% for note in notes %}
        <li class="list-group-item">
            <!-- Ссылка на детальный просмотр -->
            <a href="{% url 'note_detail' note.pk %}">
                <strong>{{ note.title }}</strong>
            </a>
            <div class="text-muted">({{ note.created_at }})</div>
        </li>
      {% empty %}
        <li class="list-group-item">Нет заметок</li>
      {% endfor %}
    </ul>
{% endblock %}
